<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{26,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{26,28}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{29,24}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{29,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>Explosion14.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,30},{29,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{29,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>Explosion15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,30},{25,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{25,22}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>Explosion16.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,30},{24,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{24,23}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>Explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,54},{30,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,54},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>Explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,54},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,86},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,86},{28,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Explosion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,86},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e49ac329d3657037e09f8f57747a9d$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
