<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{54,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{52,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{50,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{55,48}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{55,48}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>Explosion14.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,58},{55,47}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{55,47}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>Explosion15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,58},{49,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{49,44}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>Explosion16.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,58},{43,42}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{43,42}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>Explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{62,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,106},{60,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,106},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>Explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,106},{59,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{59,60}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>Explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,168},{60,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,168},{55,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>Explosion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,168},{58,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:602f3c9906f534b204cf5ddfd561543e$</string>
            <key>textureFileName</key>
            <string>explosion-hd.png</string>
        </dict>
    </dict>
</plist>
